<!DOCTYPE html>
<html>
<head>
    <title>Вход в систему</title>
</head>
<body>
    <h2>Авторизация</h2>
    {% if form.errors %}
        <p style="color:rgb(255, 0, 0)d;">Неверное имя пользователя или пароль.</p>
    {% endif %}
    <form method="post" action="{% url 'catalog:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <p>Нет аккаунта? <a href="{% url 'catalog:register' %}">Зарегистрироваться</a></p>
    <p><a href="{% url 'catalog:index' %}">На главную</a></p>
</body>
</html>
